/*
PageHead####################################################
*/
.page_head{
	display: flex;	
	text-align: left;
	flex-wrap: wrap;
	align-items: baseline;
}
.page_head h1{
	margin: 10px
}
.page_head h2{
	font-size: 12pt;
	font-weight: normal;
	font-style: italic;
	color:#444444;
	margin: 5px
}
/*
Rulebox####################################################
*/
.rulebox{
	color:#000000;
	border: 2px solid black;
	border-radius: 0px;	
	width: 60vw;
	
}
.rulebox h1{
	font-size: 15pt;
	margin: 10px;
}
.rulebox .subhead{
	color:#444444;
	margin: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-style: italic;
	
}
.rulebox .rulehead {
	display: flex;	
	background-color:#eeeeee;
	text-align: left;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: baseline;
}
.rulebox .rulebody {
	text-align: left;
	margin: 10px;
}
.rulebox .rulefooter{
	text-align: right;
	margin: 10px;
}